@font-face {
    font-family: 'Brigast';
    src: url('Brigast.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: rgb(18, 18, 18);
}

nav {
    background-color: rgb(18, 18, 18);
    height: 60px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 12px;
}

nav ul li a {
    color: white;
}

a.active,a:hover {
    color: #682ae9;
    transition: 0.3s ease;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active {
        color: #682ae9;
        transition: 0.3s ease;
    }

    #check:checked ~ ul {
        left: 0;
    }
}